table tr{
    border: 1px solid red;
}

tr td{
    border: 1px solid red;
    height: 10px;
    width: 10px;
}

table {
    border: 1px solid black;
    width: 80%;
    height: auto;

    margin: 10%;
}
 
canvas{
    background: gray;
}

#canvas1{
    background: pink;
}

#canvas3{
    background: yellow;
}

div{
    height: auto;
    width: auto;
}